<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background: linear-gradient(to right, #C7B2F6, #A0F389);">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-light" style="background-color: #e3f2fd; justify-content-between">
 <i class="fa fa-eye fa-2x" aria-hidden="true">Welcome Back</i>
  <form class="form-inline">
    <!-- <input class="form-control mr-sm-2" type="usn" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <ul class="nav navbar-nav navbar-right">
      <a href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
    </ul>
</nav>
  </form>
</nav>






<div class="container">
	<a href="/"><i class="fa fa-backward fa-4x" aria-hidden="true"></i></a>

<div class="" style="max-width: 18rem; position: absolute; left: 85%; bottom: 68%; background-color: transparent;">
  <div class=""></div>
  <div class="card-body">
    <p class="card-text"><iframe src="/count" style="width: 110%;"></iframe></p>
  </div>
</div>


<div class="card-group">
  <div class="card card-center">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS91J---XGU1uJtmMhWSbhgx_kHV8hT7QyAwzQQneCKnWk9BRdc" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Add Question</h5>
      <p class="card-text">Admin Has all authority to enter the new question, 4 defferent option for the question and also able to enter correct answer for the question.</p>
     <a href="/admin"> <input type="submit" name="Add Question" value="Add Question" class="btn btn-success"></a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card card-center">
    <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/167/167750.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Student Details</h5>
      <p class="card-text">This Field contains all the related information of all the student, such as name, USN, Mobile Number, Email and many more</p><br>
       <a href="/admin/student"> <input type="submit" name="Add Question" value="Student Details" class="btn btn-success"></a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHlH1mF1DnrQIGm-ZDrl6rjS1QPsNwH6BsFJeH34-h2lIqRhzw" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Show Questions</h5>
      <p class="card-text">This field shows all the questions which are entered by the Admin and  also they can delete the All question and re add the question.</p>
         <a href="/show"> <input type="submit" name="Show Questions" value="Student Details" class="btn btn-success"></a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
</body>
</html>