<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color: transparent;">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="stylesheet/js/bootstrap.min.js"></script>


	<form action="/count">
<b>Availaible Questions <i class="fa fa-arrow-right" aria-hidden="true"></i><%= results[0].qid %></b><br>
<b>Registered Students <i class="fa fa-arrow-right" aria-hidden="true"></i><%= results[0].usn %></b><br>

</form>
</body>
</html>