<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/usn">
	<b>Availaible Questions <i class="fa fa-arrow-right" aria-hidden="true"></i><%= results[0].usn %></b>
	
</form>
</body>
</html>